{% extends 'blog/basic.html' %}

{% block body%}



<div class="row my-2">
  {% for item in mypost %}
<div class="container my-4">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/media/{{item.thumbnail}}');background-position: center; background-repeat: no-repeat; background-size: cover;position: relative;height:250px;">
          <strong class="d-inline-block mb-2 " style="color:#ffffff;">{{item.head0}}</strong>
          <h3 class="mb-0" style="color:#ffffff;">{{item.title}}</h3>
          <div class="mb-1 " style="color:#ffffff;">Nov 12</div>
          <p class="card-text mb-auto" style="color:#ffffff;">{{chead0}}</p>
          <a href="blogpost/{{item.post_id}}" class="stretched-link" style="color:#ffffff;">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% comment %} <img src='/media/{{item.thumbnail}}' class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{% if forloop.counter|divisibleby:2 %}
  </div><div class="row my-2">
   {% endif%}
   {% endfor %}


   </div>

{% endblock %}